dt {
    font-weight: bold;
    font-size: 2em;
}
body {
    background-color: lightgray;
}
input[type=text]{
    font-size: 1em;
}
.container {
    width:100%;
    height:100%;
}
table {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
td, th {
    padding: .2em 1em;
    width: 15em;
}
tr:nth-child(even) {
    background-color: white;
}
#titleDiv {
    text-align: center;
    background-color: black;
    color: #fffb00;
    overflow: hidden;
}
h1 {
    font-size: 4em;
    font-family: 'Poller One', cursive;
    margin-top: 0;
}
h2 {
    font-size: 3em;
    font-family: 'Poller One', cursive;
}
dd {
    font-size: 1.2em;
}
#buttons button {
    float: right;
    /*width: 13em;*/
    margin: 1em;
    font-size: 1.3em;
    padding: .6em;
    line-height: 1.3em;
}
#buttons {
    overflow: hidden;
}
#movieApp {
    font-size: 1.5em;
    text-align: center;
}
#add-button {
    display: none;
}
#update-button {
    display: none;
}
#back-button {
    display: none;
}
#sort {
    display: none;
}
.rotated-arrow {
    transform: rotate(180deg);
    display: inline-block;
}

#update-movie-button, #add-movie-button {
    text-transform: capitalize;
}

.form-title {
    text-transform: capitalize;
}
.movie-form {
    text-align: left;
    margin-left: 20em;
}
.movie-form button {
    margin: 1em;
    font-size: 1em;
    /*padding: .6em;*/
    line-height: 1em;
}
#movieUpdate {
    font-size: 1em;
}
#headerImageLeft {
    float: left;
    width: 25%;
}
#headerImageRight {
    float: right;
    width: 25%;
}
#headerTitles {
    width: 50%;
    float: left;
}
#titleDiv img {
    max-width: 100%;
}