/*html, body {*/
    /*height: 100%;*/
/*}*/

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

dt {
    font-weight: bold;
    font-size: 2em;
}
dd {
    font-size: 1.2em;
}
#buttons {
    float: right;
    display: none;
}

.rotated-arrow {
    transform: rotate(180deg);
    display: inline-block;
}
